*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #FFFDFA;
}

/* Color References
https://www.color-name.com/best-white.color 
See site for grey tints, tones, and shades

Dark Blue #058eb4
Light Blue #04bdde 
*/